In [80]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt
import sklearn
from pandas import Series, DataFrame
from pylab import rcParams
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.metrics import classification_report,accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [4]:
url="https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv"
titanic = pd.read_csv(url)
titanic.columns = ['PassengerId','Survived','Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','Embarked']

HTTPError: HTTP Error 401: Authorization Required

In [60]:
titanic = pd.read_csv("titanic.csv")
titanic.columns = ['PassengerId','Survived','Pclass','Name','Sex','Age','SibSp','Parch','Ticket','Fare','Cabin','Embarked']

In [61]:
titanic.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

### You use only Pclass, Sex, Age, SibSp (Siblings aboard), Parch (Parents/children aboard), and Fare to predict whether a passenger survived.

In [62]:
titanic.drop(columns=['PassengerId','Ticket','Cabin','Embarked','Name'],axis=1,inplace=True)
titanic.head(10)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500
5         0       3    male   NaN      0      0   8.4583
6         0       1    male  54.0      0      0  51.8625
7         0       3    male   2.0      3      1  21.0750
8         1       3  female  27.0      0      2  11.1333
9         1       2  female  14.0      1      0  30.0708

In [63]:
titanic = pd.get_dummies(titanic)

In [64]:
titanic.head(10)

   Survived  Pclass   Age  SibSp  Parch     Fare  Sex_female  Sex_male
0         0       3  22.0      1      0   7.2500           0         1
1         1       1  38.0      1      0  71.2833           1         0
2         1       3  26.0      0      0   7.9250           1         0
3         1       1  35.0      1      0  53.1000           1         0
4         0       3  35.0      0      0   8.0500           0         1
5         0       3   NaN      0      0   8.4583           0         1
6         0       1  54.0      0      0  51.8625           0         1
7         0       3   2.0      3      1  21.0750           0         1
8         1       3  27.0      0      2  11.1333           1         0
9         1       2  14.0      1      0  30.0708           1         0

In [65]:
titanic.isnull().any()

Survived      False
Pclass        False
Age            True
SibSp         False
Parch         False
Fare          False
Sex_female    False
Sex_male      False
dtype: bool

In [66]:
titanic['Age'].isnull().sum()

177

In [67]:
titanic['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [68]:
titanic['Age'].median()

28.0

In [69]:
titanic['Age'].fillna(28,inplace=True)

In [70]:
titanic['Age'].median

<bound method Series.median of 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
5      28.0
6      54.0
7       2.0
8      27.0
9      14.0
10      4.0
11     58.0
12     20.0
13     39.0
14     14.0
15     55.0
16      2.0
17     28.0
18     31.0
19     28.0
20     35.0
21     34.0
22     15.0
23     28.0
24      8.0
25     38.0
26     28.0
27     19.0
28     28.0
29     28.0
       ...
861    21.0
862    48.0
863    28.0
864    24.0
865    42.0
866    27.0
867    31.0
868    28.0
869     4.0
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878    28.0
879    56.0
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888    28.0
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64>

In [71]:
titanic['Age'].isnull().sum()

0

In [72]:
X = titanic.drop('Survived',axis=1)
Y = titanic['Survived']

In [74]:
train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size=0.2, random_state= 10)

In [75]:
train_x.shape

(712, 7)

In [76]:
test_x.shape

(179, 7)

In [77]:
train_y.dtypes

dtype('int64')

In [91]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=10, min_samples_leaf=9)
clf_gini.fit(train_x, train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=10,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=9, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [92]:
predict_y = clf_gini.predict(test_x)

In [93]:
accuracy_score(test_y,predict_y)*100

86.03351955307262